## Hill Valley Prediction

Data Source

In [ ]:
#https://github.com/YBIFoundation/Dataset/blob/main/Hill%20Valley%20Dataset.csv

Import Library

In [1]:
import numpy as np
import pandas as pd
import sklearn as sk
import matplotlib.pyplot as plt

Import Data

In [2]:
# df = pd.read_csv("https://github.com/YBIFoundation/Dataset/blob/main/Hill%20Valley%20Dataset.csv")
# I am using downloaded version of data source from github.
df = pd.read_csv("Hill Valley Dataset.csv")
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V92,V93,V94,V95,V96,V97,V98,V99,V100,Class
0,39.02,36.49,38.20,38.85,39.38,39.74,37.02,39.53,38.81,38.79,...,36.62,36.92,38.80,38.52,38.07,36.73,39.46,37.50,39.10,0
1,1.83,1.71,1.77,1.77,1.68,1.78,1.80,1.70,1.75,1.78,...,1.80,1.79,1.77,1.74,1.74,1.80,1.78,1.75,1.69,1
2,68177.69,66138.42,72981.88,74304.33,67549.66,69367.34,69169.41,73268.61,74465.84,72503.37,...,73438.88,71053.35,71112.62,74916.48,72571.58,66348.97,71063.72,67404.27,74920.24,1
3,44889.06,39191.86,40728.46,38576.36,45876.06,47034.00,46611.43,37668.32,40980.89,38466.15,...,42625.67,40684.20,46960.73,44546.80,45410.53,47139.44,43095.68,40888.34,39615.19,0
4,5.70,5.40,5.28,5.38,5.27,5.61,6.00,5.38,5.34,5.87,...,5.17,5.67,5.60,5.94,5.73,5.22,5.30,5.73,5.91,0

Describe Data

In [28]:
df.describe()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V92,V93,V94,V95,V96,V97,V98,V99,V100,Class
count,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,...,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000
mean,8169.091881,8144.306262,8192.653738,8176.868738,8128.297211,8173.030008,8188.582748,8183.641543,8154.670066,8120.767574,...,8120.056815,8125.917409,8158.793812,8140.885421,8213.480611,8185.594002,8140.195355,8192.960891,8156.197376,0.500000
std,17974.950461,17881.049734,18087.938901,17991.903982,17846.757963,17927.114105,18029.562695,18048.582159,17982.390713,17900.798206,...,17773.190621,17758.182403,17919.510371,17817.945646,18016.445265,17956.084223,17768.356106,18064.781479,17829.310973,0.500206
min,0.920000,0.900000,0.850000,0.890000,0.880000,0.860000,0.870000,0.650000,0.650000,0.620000,...,0.870000,0.900000,0.870000,0.880000,0.890000,0.890000,0.860000,0.910000,0.890000,0.000000
25%,19.602500,19.595000,18.925000,19.277500,19.210000,19.582500,18.690000,19.062500,19.532500,19.285000,...,19.197500,18.895000,19.237500,19.385000,19.027500,19.135000,19.205000,18.812500,19.145000,0.000000
50%,301.425000,295.205000,297.260000,299.720000,295.115000,294.380000,295.935000,290.850000,294.565000,295.160000,...,297.845000,295.420000,299.155000,293.355000,301.370000,296.960000,300.925000,299.200000,302.275000,0.500000
75%,5358.795000,5417.847500,5393.367500,5388.482500,5321.987500,5328.040000,5443.977500,5283.655000,5378.180000,5319.097500,...,5355.355000,5386.037500,5286.385000,5345.797500,5300.890000,5361.047500,5390.850000,5288.712500,5357.847500,1.000000
max,117807.870000,108896.480000,119031.350000,110212.590000,113000.470000,116848.390000,115609.240000,118522.320000,112895.900000,117798.300000,...,113858.680000,112948.830000,112409.570000,112933.730000,112037.220000,115110.420000,116431.960000,113291.960000,114533.760000,1.000000

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1212 entries, 0 to 1211
Columns: 101 entries, V1 to Class
dtypes: float64(100), int64(1)
memory usage: 956.5 KB

Get Columns

In [30]:
df.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       ...
       'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100',
       'Class'],
      dtype='object', length=101)

Define Target Variable (y) and Feature Variables (X)

In [31]:
X = df.drop("Class",axis=1)
y = df["Class"]

In [4]:
X.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V91,V92,V93,V94,V95,V96,V97,V98,V99,V100
0,39.02,36.49,38.20,38.85,39.38,39.74,37.02,39.53,38.81,38.79,...,37.57,36.62,36.92,38.80,38.52,38.07,36.73,39.46,37.50,39.10
1,1.83,1.71,1.77,1.77,1.68,1.78,1.80,1.70,1.75,1.78,...,1.71,1.80,1.79,1.77,1.74,1.74,1.80,1.78,1.75,1.69
2,68177.69,66138.42,72981.88,74304.33,67549.66,69367.34,69169.41,73268.61,74465.84,72503.37,...,69384.71,73438.88,71053.35,71112.62,74916.48,72571.58,66348.97,71063.72,67404.27,74920.24
3,44889.06,39191.86,40728.46,38576.36,45876.06,47034.00,46611.43,37668.32,40980.89,38466.15,...,47653.60,42625.67,40684.20,46960.73,44546.80,45410.53,47139.44,43095.68,40888.34,39615.19
4,5.70,5.40,5.28,5.38,5.27,5.61,6.00,5.38,5.34,5.87,...,5.52,5.17,5.67,5.60,5.94,5.73,5.22,5.30,5.73,5.91

In [5]:
y.head()

0    0
1    1
2    1
3    0
4    0
Name: Class, dtype: int64

Train Test Split

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

Modeling

In [17]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=5000)
model.fit(X_train,y_train)

LogisticRegression(max_iter=5000)

In [18]:
model.intercept_

array([-0.06583596])

In [19]:
model.coef_

array([[-1.79434662e+00, -1.54437146e+00, -9.40974255e-01,
        -1.05482128e+00, -1.26840670e+00, -6.08147386e-01,
        -8.06337087e-01, -3.80845706e-01,  2.82854016e-01,
         8.28701151e-01,  8.50972094e-01,  1.72739155e-01,
         6.33553387e-01, -1.39052333e-01,  8.17391621e-01,
         3.36478589e-01,  3.40905524e-01,  3.93426863e-01,
         4.26256399e-01, -1.84001054e-01,  2.16448882e-01,
         6.10621147e-01,  5.69924427e-01, -4.70168444e-02,
         7.35347080e-02, -1.92523165e-01,  1.47589068e-01,
         4.33825899e-01,  3.27311318e-01,  1.85592281e-01,
         1.14968397e-01,  3.72027314e-01, -3.03311314e-01,
        -5.35534703e-02,  7.24238223e-01,  1.23613357e-03,
         4.69109274e-01,  5.04491135e-01, -1.96407467e-01,
         4.07258672e-01,  1.84147987e-01,  3.12758008e-01,
        -8.83362118e-02,  7.70836756e-01,  5.39407310e-01,
        -8.89549241e-02,  9.48102298e-02, -1.77131902e-01,
         1.48988513e-03, -1.02479776e-01,  1.66461954e-02,
         3.30044538e-01,  3.46049605e-01, -1.82354714e-01,
         9.06625029e-01, -1.74127237e-01,  6.43457350e-01,
        -8.49744486e-02,  1.84706972e-01, -2.22816782e-01,
         6.23642093e-01, -1.74064678e-02,  2.18236347e-01,
         1.24157958e-01, -3.97143993e-01,  3.38559697e-01,
        -2.32630914e-02,  4.14290381e-01,  1.21703016e-01,
         3.21662179e-01, -1.88203034e-01, -6.46415458e-02,
         7.05285481e-01,  6.79479754e-01, -5.86201737e-02,
         5.19682442e-02,  2.71061474e-01, -4.08842100e-02,
         3.53020586e-01, -5.65457810e-02,  2.66067736e-01,
        -7.99715461e-03,  6.76544125e-01,  1.79358974e-01,
         6.57766760e-01,  6.15091059e-01,  1.29108508e-01,
         4.83766075e-01,  9.80432122e-01,  3.70671163e-01,
        -1.36753476e-02, -2.32864729e-01, -7.91142295e-01,
        -8.03124483e-01, -7.68888784e-01, -1.72726642e+00,
        -1.41484251e+00, -1.66445102e+00, -2.11687294e+00,
        -2.12988045e+00]])

Prediction

In [20]:
y_pred = model.predict(X_test)

In [21]:
y_pred

array([1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       0], dtype=int64)


Model Evaluation

In [22]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [23]:
confusion_matrix(y_test,y_pred)

array([[118,   5],
       [  8, 112]], dtype=int64)

In [24]:
accuracy_score(y_test,y_pred)

0.9465020576131687

In [25]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.94      0.96      0.95       123
           1       0.96      0.93      0.95       120

    accuracy                           0.95       243
   macro avg       0.95      0.95      0.95       243
weighted avg       0.95      0.95      0.95       243